

/* Tables Princing -----------------------------------------------*/

.item_table{
	border-radius: 4px;
	border: solid 1px #cdcdcd;		
	background-color: #fff;
	padding-bottom: 30px;
	margin-bottom: 30px;
	text-align: center;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}
.item_table:hover{
	margin-top: -5px;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;	
}
.head_table{
	color: #fff;	
	background-color: rgb(0,136,204);
	position: relative;	
	z-index: 5;
	padding: 10px 0;
	text-align: center;
}
.head_table h1{
	color: #fff;
	margin:0;
	font-weight: lighter;
	font-size: 25px;
	line-height: 35px;
	padding: 10px 0;	
	border-bottom: 1px solid #fff;
	font-weight: normal;	
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;	
}
.head_table h2{	
	font-size: 30px;
	margin: 0;
	font-weight: lighter;
	padding: 10px 0 0 0;
	font-weight: normal;	
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;		
}
.head_table h2 span{
	font-size: 14px;
	color: #fff;
}
.head_table h5{
	margin:0;
	font-weight: lighter;
	padding: 0;
	color: #fff;
	padding-bottom: 10px;
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.head_table_selected{
	color: #fff;	
	background-color: rgb(76,175,80);
	position: relative;	
	z-index: 5;
	padding: 10px 0;
	text-align: center;
}
.head_table_selected h1{
	color: #fff;
	margin:0;
	font-weight: lighter;
	font-size: 25px;
	line-height: 35px;
	padding: 10px 0;	
	border-bottom: 1px solid #fff;
	font-weight: normal;	
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;	
}
.head_table_selected h2{	
	font-size: 30px;
	margin: 0;
	font-weight: lighter;
	padding: 10px 0 0 0;
	font-weight: normal;	
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;		
}
.head_table_selected h2 span{
	font-size: 14px;
	color: #fff;
}
.head_table_selected h5{
	margin:0;
	font-weight: lighter;
	padding: 0;
	color: #fff;
	padding-bottom: 10px;
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.arrow_table{
	position: absolute;
	z-index: -1;
	background-repeat: repeat-x;
	bottom: -28px;	
	height: 32px;
	width: 100%;
	left: 0;
}
.item_table .color{
	background-color: #f9f9f9;
}
.item_table ul{
	margin: 30px 0;
	padding: 0;
}
.item_table ul li{
	list-style: none;
	border-top: 1px solid #eee;
	line-height: 30px;
	text-align: center;
	padding: 5px 0;
}
.item_table ul li i{
	color: #555;
	padding-right: 5px;
}
.item_table ul li:last-child{
	border-bottom: 1px solid #ddd;
}

/* Tables Princing Promotions -----------------------------------------------*/

.promotion_table{
	margin-top: -40px;
}
.promotion_table:hover{
	margin-top: -40px;
}
.promotion_table .head_table{
	color: #fff;		
	position: relative;	
	z-index: 5;
	text-align: center;
}
.promotion_table .head_table h2{
	color: #232323 !important;	
}

