#php_flag register_globals off


###### Configuration ############

RewriteEngine On

RewriteBase /freelancer/fatfinger/api/
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [L]

###### Configuration ############



###### REST API #################

RewriteRule ^document2app$ index.php?action=document2app&%{QUERY_STRING}
RewriteRule ^document2appasync$ index.php?action=document2appasync&%{QUERY_STRING}
RewriteRule ^document2appstatus$ index.php?action=document2appstatus&%{QUERY_STRING}

###### REST API #################

